.DS_Store
.tmp/
Datasets/
Downloads/
DFire/
FloodNetPlus/
HAZMAT/
Inc1M/
LADD/
RescueNet/
*.zip
viewer/
thumbnails/
viewer/FloodNetPlus/
viewer/RescueNet/
thumbnails/FloodNetPlus/
thumbnails/RescueNet/
